<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)= "onSubmit()">
    <div class="form-group">
        <label for="userId">UserId</label>
        <input type="text" formControlName="userId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userId.errors }" />
        <div *ngIf="submitted && f.userId.errors" class="invalid-feedback">
            <div *ngIf="f.userId.errors.required">UserId is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">

        <button [disabled]="loading" class="btn btn-primary">Login</button>       
    </div>
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</form>