<h1>Book Online Store</h1>
<div>
    <ul>
        <li *ngFor="let book of bookDetail">
{{book.BookName}}
 <button (click)="AddToCart(book.BookId)">ADD To CART     
 </button>
         </li>
    </ul>
</div>
<p><a [routerLink]="['/userCart']">UserCart</a></p>
<p><a [routerLink]="['/login']">LogOut</a></p>